In [60]:
import pandas as pd
import numpy as np

In [61]:
df = pd.read_csv('./behaviors_small_train.tsv', sep='\t', names = ['id', 'user_id', 'created_at', 'histories', 'impression'])

In [62]:
df = df.drop(columns = ['created_at'])

In [64]:
df = df.replace(np.nan, '')

In [65]:
df.head(5)

,id,user_id,histories,impression
0,1,U13740,N55189 N42782 N34694 N45794 N18445 N63302 N104...,N55689-1 N35729-0
1,2,U91836,N31739 N6072 N63045 N23979 N35656 N43353 N8129...,N20678-0 N39317-0 N58114-0 N20495-0 N42977-0 N...
2,3,U73700,N10732 N25792 N7563 N21087 N41087 N5445 N60384...,N50014-0 N23877-0 N35389-0 N49712-0 N16844-0 N...
3,4,U34670,N45729 N2203 N871 N53880 N41375 N43142 N33013 ...,N35729-0 N33632-0 N49685-1 N27581-0
4,5,U8125,N10078 N56514 N14904 N33740,N39985-0 N36050-0 N16096-0 N8400-1 N22407-0 N6...

In [68]:
df1 = df.groupby('user_id').agg({ 'histories': ' '.join, 'impression': ' '.join })

In [70]:
df1.head(5)

,histories,impression
user_id,,
U100,N20121 N33998 N45954 N55743 N50095 N18870 N534...,N61235-0 N54489-0 N42597-0 N7800-1 N61408-0 N2...
U1000,N29641 N1789 N41244 N29641 N1789 N41244 N29641...,N16148-0 N43628-0 N13094-0 N32774-0 N57034-0 N...
U10001,N47937 N51706 N56447 N61319 N27644 N18030 N272...,N42860-0 N62750-0 N33025-0 N3167-0 N51975-0 N4...
U10003,N39074 N26619 N31431 N1282 N61052 N41668 N5083...,N58710-0 N39770-0 N33964-0 N64009-0 N36692-0 N...
U10008,N23912 N30148 N46754 N33117 N9619 N36526 N4449...,N24272-0 N8016-0 N43595-0 N732-0 N8929-0 N3567...

In [81]:
dct = {'user_id': [], 'news_id': []}

for idx, row in df.iterrows():
    reads = set(it[:-2] for it in row.impression.split() if it[-1] == '1')
    his = set(row.histories.split())
    
    for new_id in (his - reads):
        dct['user_id'].append(row.user_id)
        dct['news_id'].append(new_id)

In [82]:
tmp_df = pd.DataFrame.from_dict(dct)

In [84]:
tmp_df.groupby(['user_id']).news_id.nunique().describe()

count    49108.000000
mean        18.630447
std         23.604218
min          1.000000
25%          6.000000
50%         11.000000
75%         22.000000
max        546.000000
Name: news_id, dtype: float64